
 /* Forest green #4C7D60 */
 /* Lima green #A9BA88 */
 /* Pink FF3D85 */

:root {
  --primary: #6C55F9;
  --primary-focus: #5d47eb;
  --accent: #FF3D85;
  --secondary: #645F88;
  --success: #35bb78;
  --info: #05B4E1;
  --warning: #FAC14D;
  --danger: #FF4943;
  --grey: #B4B2C5;
  --dark: #2D2B3A;
  --light: #F6F5FC;
}

/* THEME CUSTOMIZATION */
body {
  color: var(--dark);
}

.navbar {
  background-color: #fff;

  .nav-link {
    color: rgba(100, 95, 136, 0.75) !important;

    &:focus, &:hover {
      color: var(--secondary) !important;
    }

    &.active {
      font-weight: 500;
      color: var(--primary);
    }

  }

  .logo-horizontal {
    .logo, .name {
      fill: var(--dark);
    }
  }
}

.bg-accent {
  background-color: var(--light) !important;
}

.title-section {
  color: var(--secondary);
}

.page-section {
  color: #898798;
}

.page-banner {
  background-color: var(--light);
  color: var(--secondary);
}

.features .header {
  background-color: #fff;
}

.contacts {
  margin: 0 10px;
  a {
    background-color: var(--accent);
    color: white;

    &:hover {
      background-color: var(--secondary);
    }
  }
}

.page-footer {

  background-color: var(--dark);

  .logo-vertical {
    .logo, .name, .subtitle {
      fill: var(--light)
    }
  }
}

.theme-icon {
  .head {
    fill: var(--primary);
  }

  .mental-icon {
    fill: white !important;
  }
}