:root {
  --theme-1: #2E3A42;
  --theme-2: #4C7D60;
  --theme-3: #A9BA88;
  --theme-4: #A9BAB5;
  --theme-5: #DFE2E0;
  --accent: #a4243b;
  --accent-hover: #ba4056;
}

/* THEME CUSTOMIZATION */
body {
  color: var(--theme-5);
  background-color: var(--theme-1);
}

a {
  color: var(--theme-2);

  &:hover {
    color: var(--theme-3);
  }

  &.footer-link {
    color: var(--theme-1);
    &:hover {
      color: var(--theme-3);
    }
  }
}

.navbar {
  background-color: var(--theme-1);

  .navbar-toggler {
    color: red !important;
  }

  .nav-item {

    &.active .nav-link {
      color: var(--theme-3) !important;
    }

    .nav-link {
      color: var(--theme-5) !important;

      &:focus, &:hover {
        color: var(--theme-5) !important;
      }
    }

  }

  .logo-horizontal {
    .logo, .name, .subtitle {
      fill: var(--theme-5);
    }
  }
}

.title-section {
  color: var(--theme-3);
}

.page-section {
  color: var(--theme-5);

  &.bg-accent {
    background-color: var(--theme-5) !important;
    color: var(--theme-1);

    .features {
      .header {
        background-color: var(--dark);
      }
      h5 {
        color: var(--theme-1);
      }
    }

  }
}

.divider, .btn-primary {
  background-color: var(--theme-2) !important;
  color: var(--theme-5) !important;

  &:hover {
    color: var(--theme-4) !important;
  }
}


.page-banner {
  background-color: var(--theme-5);
  color: var(--theme-2);

  p {
    color: var(--theme-1);
  }
}

.contacts {
  margin: 0 10px;
  a {
    background-color: var(--accent);
    color: white;

    &:hover {
      background-color: var(--accent-hover);
    }
  }
}

.page-footer {

  background-color: var(--theme-5);

  h3, h5 {
    color: var(--accent) !important;
  }

  p {
    color: var(--theme-1)
  }

  .logo-vertical {
    .logo, .name, .subtitle {
      fill: var(--theme-1)
    }
  }
}

.theme-icon {
  .head {
    fill: var(--theme-2);
  }

  .mental-icon {
    fill: var(--theme-5) !important;
  }
}