
 /* Forest green #4C7D60 */
 /* Lima green #A9BA88 */
 /* Pink FF3D85 */

:root {
  --primary: #6C55F9;
  --primary-focus: #5d47eb;
  --accent: #FF3D85;
  --secondary: #645F88;
  --success: #35bb78;
  --info: #05B4E1;
  --warning: #FAC14D;
  --danger: #FF4943;
  --grey: #B4B2C5;
  --dark: #2D2B3A;
  --light: #F6F5FC;
}

/* THEME CUSTOMIZATION */
.navbar {
  background-color: #fff;

  .logo-horizontal {
    .logo, .name {
      fill: var(--dark);
    }
  }
}

.router-link-active {
  color: var(--accent) !important;
}

.contacts {
  margin: 0 10px;
  a {
    background-color: var(--accent);
    color: white;

    &:hover {
      background-color: var(--secondary);
    }
  }
}

.page-footer {
  .logo-vertical {
    .logo, .name, .subtitle {
      fill: var(--light)
    }
  }
}

.theme-icon {
  .head {
    fill: var(--primary);
  }

  .mental-icon {
    fill: white !important;
  }
}